#posicao-relativa {
    width: 100%;
    background-color: #32CD32;
}

h1 {
    font-family: 'Patrick Hand SC', cursive;
    font-size: 2em;
    margin-bottom: 10px;
}

p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.3em;
    margin-bottom: 10px;
}

header {
    height: 150px;
}

header h1 {
    font-size: 4em;
    line-height: 1;
    font-family: 'Patrick Hand SC', cursive;
    float: left;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 30px;
}

#posicao-relativa img {
    height: 100px;
    margin-top: 30px;
}

footer {
    padding: 20px 40px;
    background: #000;
    color: #777;
    font-size: 0.7em;
    text-align: center;
}

footer p {
    margin-bottom: 0px;
}

html, body {
  height: 100%;
}

#corpo {
    margin: 0 auto;
    width: 84%;
    display: block;
}

#tabela table,th,td{
    border: 1px solid black;
    text-align: center;
}

#tabela{
    margin-top: 50px;
    margin-bottom: 60px;
    margin-left: 40%;
    margin-right: 10%;
}

.botao{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.camposCad{
    text-align: center;
    margin-top: 130px;
    margin-bottom: 100px;
}

#team-1 {
    display: inline-block;
    text-align: center;
    margin-right: 28%;
}
.placar{
    margin-top: 40px;
}

#team-1 p {
    text-align: center;
}

#icon-x {
    display: inline-block;
    text-align: center;
    margin-right: 28%;
}

#team-2 {
    display: inline-block;
    text-align: center;
}

#team-2 p {
    text-align: center;
}

.time-selec {
    text-align: center;
    text-align-last: center;
}

.styled-select select {
   background: transparent;
   width: 200px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
}

.styled-select {
   width: 200px;;
   height: 34px;
   overflow: hidden;
   background: url(pictures/arrow_select.jpg) no-repeat right #ddd;
   border: 1px solid #ccc;
}